<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= Rails.application.class.parent_name %></title>
		<%= stylesheet_link_tag    "gbase/application", media: "all" %>
	  	<%= javascript_include_tag "gbase/application" %>
		<%= csrf_meta_tags %>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>


		<% if user_signed_in? %>
			<%= render partial: "layouts/gbase/menus" %>
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<%= render partial: "layouts/gbase/sidemenu" %>
			</div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

							<%= yield %>

			</div>

		<% else %>
			<%= yield %>
		<% end %>


	</body>
</html>
