<%= bootstrap_form_for(@menu, layout: :vertical, inline_errors: true) do |f| %>
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
      <%= f.text_field :nome %>
      <%= f.text_field :descricao %>
      <%= f.text_field :link %>
      <%= f.text_field :icone %>
      <%= f.collection_select(:modulo_id, Gbase::Modulo.all, :id, :name, {prompt: false}, {:class => "selectpicker"}) %>
      <!--%= f.select(:modulo_id, Gbase::Modulo.all, {prompt: false}, {:class => "selectpicker"}) %-->
      <%= f.submit "Salvar", class: "btn btn-success" %>
      <%= link_to "Cancelar", modulos_path, :class => "btn btn-danger" %>
    </div>
  </div>
<% end %>