<table class="table table-striped">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Acessos</th>
    <th>Último acesso</th>
    <th>IP</th>
    <th>Data do Registro</th>
    <th colspan=3 style="text-align: center;">Ações</th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.sign_in_count %></td>
        <% if not user.last_sign_in_at.blank? %>
          <td><%= user.last_sign_in_at.to_s(:data_br) %> às <%= user.last_sign_in_at.to_s(:hora) %></td>
        <% else %>
          <td>Nenhum acesso</td>
        <% end %>
        <td><%= user.last_sign_in_ip.to_s %></td>
        <td><%= user.created_at.to_s(:data_br) %></td>
        <td style="text-align: center;"><%= link_to '', user, :class => 'glyphicon glyphicon-search', :title => 'Visualizar' %></td>

          <td style="text-align: center;"><%= link_to '', edit_user_path(user), :class => 'glyphicon glyphicon-pencil', :title => 'Editar' %></td>

            <td style="text-align: center;">
            	<!--% unless user.admin? %-->
            	<%= link_to '', user, :class => 'glyphicon glyphicon-trash', :method => :delete, :data => { :confirm => 'Are you sure?' }, :title => 'Apagar' %>
            	<!--% end %-->
            </td>


      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users, :previous_label => t("Anterior"), :next_label => t("Próximo"), renderer: BootstrapPagination::Rails %>